a{
	text-decoration:none;
	color:inherit;
}

#logo{
font-size:30px;
	font-family:Calibri;
	margin:10px;
	margin-top:30px;
	margin-left:20px;
	letter-spacing:4px;
	margin-bottom:30px;
	float:left;
	color:white;	
}
body{
	background-image:url('berry.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
#topPart{
	float:right;
	margin-top:40px;
	margin-left:400px;
}
#topPart div{
	margin-top:5px;
	margin-right:10px;
	display:inline;
	font-family:Calibri;
	font-size:20px;
	color:white;
}
#home, #about, #contact, #dashboard,#news,#logout{
	margin-left:15px;
	margin-right:15px;
	padding:6px;
	letter-spacing:2px;
}
#home:hover, #about:hover, #contact:hover, #dashboard:hover,#logout:hover{
	outline:1px solid white;
}
#im{
	clear:both;
	width:1330px;
	height:350px;
}
#contactBack{
	clear:both;
	background:white;
	margin-left:280px;
	width:800px;
	height:500px;
}
#title{
	color:gray;
	letter-spacing:2px;
	margin-bottom:15px;
	margin-top:10px;
	clear:both;
	font-family:Calibri;
	font-size:25px;
	padding:10px;
	text-align:center;
}
#content{
	clear:both;
	color:gray;
	padding:10px;
	font-family:Calibri;
	font-size:20px;
	text-align:center;
}